---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Soarance"
	description="Your Friendly Trading Neighbor"
	pubDate={new Date('April 21 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hello. My name is Soarance, and you may have seen me around in various Discord channels and communities,
		talking about my algorithm development progress. After trading by hand on and off for 1.5 years, I
		decided it was a bit too much trouble to trade while I'm working my day-job, and considering my background
		in data engineering, I decided to dip my toes into writing algorithms that traded automatically for me.
		That way, I can trade while being completely hands off! Little did I know that this would spiral me deep
		into a rabbit hole, full of countless sleepless hours learning, developing, and monitoring my algorithms.
	</p>

	<p>
		I still remember my first algorithm. I created a hidden divergence strategy that beat the S&P500 by nearly
		3 times, and I spent the next few hours daydreaming about becoming rich. I wish someone was there to slap me
		in the face and tell me how much of a stupid idiot I was. It was until I found out it was leaking future data
		that I had my main realization: just like trading by hand, writing algorithms isn't going to be easy. I sent
		the next few months reading books, papers, and watching YouTube videos, until I finally decided to take the
		first steps. The greatest teacher truly is just by doing.
	</p>

	<p>
		I originally started this blog in order to document my process and what I learned. But after some people
		expressed interest in my algos and also the development process itself, I decided to make this public
		so that I can just dump my thoughts into one place. Expect this page to be updated with strategies,
		development processes, algorithm logic, my own learning adventures, etc.
	</p>

	<p>
		If you ever have any questions about anything in this blog, feel free to send me a message in my discord.
		Username: "Soarance"
	</p>

	<p>
		Venture on, my younge paddlewon!
	</p>
</Layout>
