---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, my fellow trader!</h1>
			<p>
				Welcome to my blog, where I document a lot of my thought processes and my algo performances.
			</p>
			<p>
				My name is Soarance and I primarily trade using the algorithms that I develop for the
				futures market (mainly NQ, ES, and GC). I am constantly improving my scripts as I
				collect more data. I believe this blog is a useful resource for those interested in
				the work that I do, but also for those who are new to algorithm trading as well.
			<p>
				This website will be continuously updated as I think of more things to rant about.
				And I do enjoy ranting, so apologies in advanced for that lol.
			</p>
		</main>
		<Footer />
	</body>
</html>
